body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

.about,
.projects,
.contact,
.education,
.CV_section,
.ScientificPublication,
.Skills,
.Honors,
.Conference {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.projects .project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
